.last-order__h2 {   
    font-size: 18px;
    margin-top: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 25px;
}
.last-order__slider-item {
    position: relative;
    height: 160px;
    overflow: hidden;
}

.last-order__text-block {
    position: absolute;
    top: 0;
    background-color: rgb(153, 232, 211);
    opacity: 0.82;
    text-align: left;
    width: 50%;
    right: 0; 
    display: flex;
    align-items: center;
    height: 100%;
    & p {
        padding: 0 10px;
    }
    & span {
        font-weight: bold;
    }      
}
@media (min-width:$desktop) {
    .last-order__slider-item {
        display: flex;
        height: 278px;
        & img {
            width: auto;
            -moz-transition: all 1s ease-out;
            -o-transition: all 1s ease-out;
            -webkit-transition: all 1s ease-out;
            &:hover {
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);
            }
        }
    }
    .last-order__text-block {
        position: relative;
        background-color: #b7e899;
        opacity: 1;
        width: auto;
    }
    .last-order__h2 {
        font-size: 30px;
        font-weight: 500;
    }
   
}