.public-content__btn-block {
    background-color: $purple;
    padding: 30px 0 20px 0;
}
.public-content__btn {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px 12px;
}
.public-content__content {
    height: 350px;
    background-image: url(../img/rastr/news-img.jpg);
    background-repeat: no-repeat;
    background-position: top center;  
}
.public-content__text-block {
    background-color: rgba(172, 191, 246, 0.9);
    text-align: left;
    position: absolute;
    bottom: 0;
    padding-bottom: 50px;
}
.public-content__date {
    text-align: right;
}
.public-content__h2 {
    display: none;
}
.public-content__slider-wrapper {
    padding: 0;
}
@media (min-width:$desktop) {
    .public-content__h2 {
        display: block;
        margin: 0;
        padding-top: 70px;
    }
    .public-content__wrapper {
        background: #71c1ff;
    }
    .public-content__btn-block {
        background-color: inherit;
    }
    .public-content .owl-stage {
        display: grid;
        grid-column-gap: 30px;
    }
    .public-content .owl-item {
        grid-column: 2;
    }
    .public-content .owl-item:first-child {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column: 1;
    }
    .public-content .owl-item:last-child {
        margin-top: 30px;
    }
    .public-content__content {
        position: relative;
        width: 555px;
        height: 288px;
        transition: all 3s ease;
        &:hover {
            transform: scale3d(1.05, 1.05, 1.05);
        }
    }
    .public-content__content--main {
        height: 605px;
        width: 559px;
    }
    .public-content__text-block {
        background-color: rgba(113, 193, 255, 0.8);
        height: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: 0;
    position: relative;
    padding: 0;
    }
    .public-content__content--main  .public-content__text-block {
        height: 288px;
        
    }
    .public-content__text {
        padding: 20px;
    }
    @media (max-width: 1200px) and (min-width: 900px)  {
        .public-content__content--main {            
            width: 505px;
        }
    }
}
