.social {
    display: none;
}
@media (min-width:$desktop) {
    .social {
        display: block;
        background:url(../img/rastr/social-bg.jpg) no-repeat center;
    }
    .social__h2 {
        margin-top: 20px;
        padding-top: 80px;
    }
    .social__wrapper {
        display: flex;
        justify-content: space-between;       
    }
   
}